
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>LoginGapi</title>
</head>
<body>
    <div> 
        @ViewBag.calender
        帳號: <input type="text" id="Accounr" value="" /><br />
        密碼: <input type="password" id="pwd" />
        <button type="button" class="btn btn-default">登入</button>
    </div>
</body>
</html>
